@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #222;
	color: #777;
	font-size: 10pt;
}

table {
	border-collapse: collapse;
}

#header {
	position: relative;
	margin-bottom: 8pt;
}

#header > #logo {
	position: absolute;
	top: 0;
	right: 0;
	width: 64px;
}

#header > #title {
	font-size: 300%;
}

#header > #subtitle {
	margin: 4pt 0;
}

#header > #info {
	color: #555;
	font-size: 80%;
	font-style: italic;
}

.block {
	width: 100%;
	position: relative;
	clear: both;
}

.block td {
	padding: 4pt;
}

.block .label {
	width: 23mm;
}

.block .textbox {
	border: 1pt solid #333;
	min-height: 8mm;
	padding: 4pt;
	color: #AAA;
	border-radius: 2px;
}

input[type=text], select {
	width: 100%;
	padding: 4pt;
	min-height: 8mm;
	border: 1px solid #444;
	background-color: #333;
	color: #AAA;
	border-radius: 2px;
	box-sizing: border-box;
}

.block td:last-child {
	width: 10mm;
}

.block .button {
	background-color: #333;
	border: 1pt solid #444;
	width: 8mm;
	height: 8mm;
	border-radius: 2px;
	text-align: center;
	padding: 1mm;
}

.block .button > img {
	width: 100%;
}

.block .button:hover {
	background-color: #444;
}

::-webkit-input-placeholder {
	font-family: 'Raleway';
	color: #555;
	font-style: italic;
	font-size: 10pt;
	line-height: 1;
}

.block #patternDemo {
	border: 1pt solid #333;
	min-height: 8mm;
	padding: 4pt;
	color: #777;
	border-radius: 2px;
	font-style: italic;
}

.go {
	height: 8mm;
	width: 30mm;
	margin: 8pt auto;
	border-radius: 2px;
	padding: 1mm 0;
	background-color: #333;
	text-align: center;
	border: 1pt solid #444;
	color: #777;
}

.go:hover {
	background-color: #444;
}

#helpBox {
	display: none;
	font-size: 80%;
	text-align: center;
	background-color: #333;
	border-radius: 8pt;
	color: #777;
	padding: 4pt;
	position: absolute;
	right: 50px;
	width: 400px;
	top: 75px;
}

#helpBox > #rules {
	width: 100%;
	text-align: center;
}

#helpBox > #rules th {
	font-size: 150%;
	padding-bottom: 4pt;
}

#helpBox > #rules td:nth-child(2n+1) {
	color: white;
}

#helpBox > #folderInfo {
	margin: 4pt 0;
}

#helpBox > #notAllowed {
	width: 100%;
	text-align: center;
}