@import url(https://fonts.googleapis.com/css?family=Raleway,Lobster);

* {
	box-sizing: border-box;
	user-select: none;
	cursor: default;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #222;
	color: #777;
	font-size: 10pt;
}

table {
	border-collapse: collapse;
}

input[type=text], select {
	width: 100%;
	padding: 4pt;
	min-height: 8mm;
	border: 1px solid #444;
	background-color: #333;
	color: #AAA;
	border-radius: 2px;
	box-sizing: border-box;
}

input {
	user-select: all;
}

::-webkit-input-placeholder {
	font-family: 'Raleway';
	color: #555;
	font-style: italic;
	font-size: 10pt;
	line-height: 1;
}
