.box {
	position: absolute;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease 0s;
}

.box.shown {
	top: 0;
}

.Help {
	text-align: center;
	background-color: #333;
	border-radius: 4pt;
	color: #777;
	padding: 16pt;
	width: 573px;
	line-height: 1.4;
}

.Help > .key {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Help > h3 {
	margin-top: 0;
}

.Help > .key > div:nth-child(2n + 1) {
	color: white;
	padding-left: 12px;
	padding-right: 4px;
}

.Help > .key > div:first-child {
	padding-left: none !important;
}

.Help > .folderInfo {
	margin: 4pt 0;
}

.Help > .notAllowed {
	width: 100%;
	text-align: center;
}